# **Assignment 1 - Pattern programming in Python**

Name: Mrinmoy M. Dutta

Referral ID: SIRSS2103

In [16]:
number = 5
for i in range(number,0,-1):
  for j in range(0,i):
    print(5, end= " ")
  print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [2]:
number = 6
for i in range(number,1,-1):
  for j in range(0,i):
    print(j, end = " ")
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [3]:
num_1 = 5
num_2 = 1
for i in range(1, num_1 + 1):
  for j in range(0,i):
    print(num_2, end = " ")
  num_2 = num_2 + 2
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [4]:
number = 5
for i in range(1, number + 1):
  for j in range(i,0,-1):
    print(j,end = " ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [5]:
num_1 = 4
num_2 = 0
for i in range(1, num_1 + 1):
  num_2 = i + num_2
  num_3 = num_2
  for j in range(0, i):
    print(num_3, end = " ")
    num_3 = num_3 - 1
  print()

1
3 2
6 5 4
10 9 8 7

In [6]:
def series(num_1):
  if num_1 == 0:
    return (1)
  else:
    return (num_1 * series(num_1 - 1))

num_2 = 7
for i in range(0, num_2):
  for j in range(0, i + 1):
    num_3 = int(series(i) / (series(j) * series(i - j)))
    print(num_3, end = " ")
  print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [7]:
num_1 = 5
for i in range(1, number + 1):
  for j in range(1, 6):
    num_2 = i if(i > j) else j
    print(num_2, end = " ")
  print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [8]:
number = 8
for i in range(1, number + 1):
  for j in range(1, i + 1):
    print(i * j, end = " ")
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [9]:
value_1 = 6
value_2 = 0
for i in range(value_1, 0, -1):
  for j in range(0, value_2):
    print(" ", end = "")
  for k in range(0, i):
    print("*", end = " ")
  value_2 = value_2 + 1
  print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [10]:
value_1 = 7
value_2 = 7
for i in range(1, value_1 + 1):
  for k in range(0, value_2):
    print(" ", end = "")
  for j in range(0, i):
    print("*", end = " ")
  value_2 = value_2 - 1
  print()

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [11]:
value = 6
for i in range(1, value + 1):
  for j in range(0, i):
    print("*", end = " ")
  print()
print()
for k in range(value, 0, -1):
  for l in range(0, k):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
value = 5
for i in range(1, value + 1):
  for j in range(0, i):
    print("*", end = " ")
  print()
for k in range(value - 1, 0, -1):
  for l in range(0, k):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
num_1 = 5
num_2 = 5
for i in range(1, num_1 + 1):
  for j in range(1, num_2):
    print(" ", end = " ")
  for k in range(0, i):
    print("*", end = " ")
  print()
  num_2 = num_2 - 1
num_2 = 1
for i in range(num_1 - 1, 0, -1):
  for j in range(0, num_2):
    print(" ", end = " ")
  for k in range(0, i):
    print("*", end = " ")
  print()
  num_2 = num_2 + 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [14]:
num_1 = 5
num_2 = 0
for i in range(num_1, 0, -1):
  for j in range(0, num_2):
    print(" ", end = "")
  for k in range(0, i):
    print("*", end = " ")
  print()
  num_2 = num_2 + 1
num_2 = 4
for i in range(1, num_1 + 1):
  for j in range(0, num_2):
    print(" ", end = "")
  for k in range(0, i):
    print("*", end = " ")
  print()
  num_2 = num_2 - 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [15]:
num_1 = 8
num_2 = 8
for i in range(0, num_1):
  for j in range(0, num_2):
    print("*", end = "")
  for k in range(0, i):
    print("--", end = "")
  for l in range(0, num_2):
    print("*", end = "")
  num_2 = num_2 - 1
  print()

****************
*******--*******
******----******
*****------*****
****--------****
***----------***
**------------**
*--------------*